@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  font-family: 'Poppins';
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    box-shadow: inset 0px 0px 0px 9px rgba(0, 0, 0, .1);
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    box-shadow: inset 0px 0px 0px 9px rgba(0, 0, 0, .1);
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    box-shadow: inset 0px 0px 0px 9px rgba(0, 0, 0, .1);
  }
}

.ani-image {
  width: 250px;
  height: 250px;
  overflow: hidden;
  background-image: url('/profile_my_pic.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  animation: morph 8s ease-in-out infinite;
  box-shadow: inset 0px 0px 0px 9px rgba(0, 0, 0, .1);
}

.profile-image {
  margin-top: 100px;
}

.round-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.round-button:hover .round-button-circle {
  background-color: #6b7280;
}

.round-button:active {
  opacity: 0.5;
}

.round-button-circle {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.4s ease-in-out;
}

.email-tooltip {
  background-color: rgba(200, 200, 200, 1);
  color: black;
}

.CodeMirror {
  border-radius: 0 0 5px 5px !important;
  box-shadow: none !important;
}

@keyframes slideIn {
  0% {
    right: -80rem;
  }

  100% {
    right: 0;
  }
}

@keyframes slideOut {
  0% {
    right: 0;
  }

  100% {
    right: -80rem;
  }
}

.drawer-slide-open {
  -webkit-animation: slideIn 0.5s forwards;
  animation: slideIn 0.5s forwards;
}

.drawer-slide-close {
  -webkit-animation: slideOut 0.5s forwards;
  animation: slideOut 0.5s forwards;
}